# application specific entries
.env

# common IDEs to be ignored
.idea/
.metals/
.vscode/

# build tool specific entries
.bloop
target
metals.sbt
project/project
out/

# node/npm specific entries
node_modules/
